# MT5 交易配置
SYMBOL=GOLD_
MAGIC_NUMBER=20260430
VOLUME=0.01
SL_USD=7.0
TP_USD=21.0
BE_PROFIT = 2.0
TRAIL_STEP = 2.0
MAX_POSITIONS=5

# 邮件服务器配置
EMAIL_NOTIFY=True
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=xxx@gmail.com
# 这里填入那串 16 位的应用专用密码
SENDER_PASSWORD=xxxx xxxx xxxx xxxx
RECEIVER_EMAIL=xxx.gmail.com
